.principal{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(22, 22, 22, 0.7),rgba(22, 22, 22, 0.7)), url("../../assets/fondonegocio.png");
    background-size: cover;
    background-position: 0px 80px;
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}
.principaltexto{
    text-align: center;
    transition: transform 1.5s ease-out, opacity 1.5s ease-out;
    transform: translatey(-100%); 
    opacity: 0;
}
.principaltexto.visible{
    transform: translatey(0); 
    opacity: 1;
}
.principaltexto h1{
    font-family: "Inria Serif", serif;
    font-size: 80px;
}
.color500{
    color: #d39000;
}

/* ----------------------------------------------------------------- */

@media (max-width: 1290px) {
    .principal-left-texto{
        margin-top: 50px;
        font-size: 35px;
    }
    .principal-right img{
        margin-top: 106.5px;
        width: 430px;
        height: 645px;
    }
}

@media (max-width: 800px) and (min-width: 768px) {
    .principal-left-texto{
        font-size: 28px;
    }
    .principal-left video{
        width: 90%;
    }
    .principal-right img{
        height: 350px;
        margin-left: 50px;
    }
}

@media (max-width: 414px) {
    .principal-left-texto{
        font-size: 24px;
        width: 90%;
        margin-top: 30px;
    }
    .principal-left video{
        width: 90%;
    }
    .principal-right img{
        height: 250px;
        margin-left: 0;
        margin-top: 30px;
    }
}